/* ========================================
    헤더 영역
  ======================================== */

#header .nav-link.active span,
#header .nav-link:hover {
  color: #7B38FF;
}

#header .header-search-input-placeholder p{
  color: rgba(23, 23, 25, 0.5);
  font-weight: var(--fw-medium);
}

#header .sticky-wrap .main-header .header-center input.filled{
  background-color: rgba(219, 248, 236, 0.3);
}


/* ========================================
    헤더 하단 드랍다운 메뉴 영역
  ======================================== */

.bottom-nav .nav-item-wrapper:hover{
  background-color: #EFE6FF;
}

.nav-item:hover .nav-item-title{
  color: #926CFD;
}